body {
  margin: auto;
}

#container1 {
  margin: auto;
  height: 628px;
  width: 800px;
  background: url(image/header.png) no-repeat center top / cover;
}

.elena {
  margin: 60px 0 0 348px;
}

.headerList {
  margin: 50px 0 0 0;
  list-style: none;
  padding: 0;
  text-align: center;
}

.headerList li {
  display: inline;
  margin-left: 30px;
}

.headerList li a {
  font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-decoration: none;
}

.forDay {
  font-family: ﻿Ubuntu-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
  font-weight: bold;
  font-size: 53px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  margin-top: 60px;
}

.forJust {
  font-family: ﻿PTSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  margin-top: 35px;
}

.forJust:after {
  display: inline-block;
  margin-left: 25px;
  background-color: #ffffff4a;
  content: "";
  height: 2px;
  vertical-align: middle;
  width: 80px;
}

.forJust:before {
  display: inline-block;
  margin-right: 25px;
  background-color: #ffffff4a;
  content: "";
  height: 2px;
  vertical-align: middle;
  width: 80px;
}

.forGet {
  margin-top: 90px;
  text-align: center;
}

.getNow {
  border: 0;
  font-weight: bold;
  padding: 17px 40px;
  background: #50c3af;
  font-family: ﻿PTSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 14px;
  color: rgba(245, 245, 245, 255);
  border-radius: 35px;
}

#container2 {
  height: 286px;
  width: 800px;
  margin: auto;
  background: #eeeeef;
}

.items {
  margin: auto;
  text-align: center;
  padding-top: 60px;
  width: 650px;
}

.item {
  float: left;
  width: 185px;
  margin-left: 31px;
}

.item:first-child {
  float: left;
}

.item:last-child {
  float: right;
}

.hItem3 {
  margin-top: 15px;
}

.hItem2 {
  margin-top: 22px;
}

.hItem1 {
  margin-top: 26px;
}

.lineItem {
  display: inline-block;
  margin: 10px 25px 0 15px;
  background-color: #e2e3e4;
  content: "";
  height: 2px;
  vertical-align: middle;
  width: 150px;
}

.textItem {
  margin-top: 25px;
}

#container3 {
  height: 628px;
  width: 800px;
  margin: auto;
  background: #f5f5f5;
}